/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";

html,
body {
  line-height: 1.5;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  height: 100%;
}
p{
  margin-bottom: 0px;
}
body {
  margin: 0;
  height: 100%;
  background: #f2f2f2;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container,
.container-fluid {
  height: 100%;
}

.boton-login{
    background: -webkit-linear-gradient(right,#21d4fd,#b721ff,#21d4fd,#b721ff);
}

#container {
  top: 75px !important;
 }
 
 @media(max-width: 599px) {
   #container {
     top: 75px !important;
   }
 }

 .mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
.mat-sidenav-content{
  background-color: #ffffff;
}
.mat-toolbar-row{
  z-index: 2;
  box-shadow: 0 2px 7px 0 #dbdbdb;
  height: 75px !important;
}
.mat-icon-button.mat-primary{
  color: #0d63f9 !important;
}
.mat-toolbar.mat-warn {
  background: #ffffff;
  color: #fff;
}

.mat-tab-label{
  width: 50%;
}
.mat-tab-label-active{
  color: #0d63f9 !important;
  opacity: 1 !important;
}
.mat-ink-bar{
  height: 8px !important;
  background-color: #0d63f9 !important;
}
.currency{
  color: #0d63f9;
  font-weight: bolder;
}

.fa-random{
  color: #0d63f9;
}

.center-div{
  margin: 0 auto;
}
.center-vertical{
  display: flex;
  align-items: center;
}
.title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.input-convert{
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
    color: rgb(34, 34, 34);
    background-color: rgb(255, 255, 255);
    padding: 9px;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    border-image: initial;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    padding: 15px 0px;
    text-align: center;
}

.fa-sync-alt{
  color: #0d63f9;
  font-size: 25px;
}

.convert_btn{
  background: transparent;
  box-shadow: none;
  border: none;
  outline:none;
}

@media (min-width: 1024px){
  .container-form{
    margin-top: 75px;
    min-height: 65vh;
  }
  .mat-table {
    width: 70%;
    margin: 0 auto;
  }
  .mat-header-row{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 15px;
    .mat-header-cell{
      color: black;
    }
  }
  .mat-row{
    margin: 8px 15px;
    border: 1px #eee solid;
    border-radius: 3px;
  }
  .center-cell{
    justify-content: center;
  }
  .end-cell{
    justify-content: flex-end;
  }
  .mat-tab-group{
    border: 1px solid #eeeeee;
    border-radius: 3px;
  }
}
@media (max-width: 1023px){
  .mat-table {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 0px;
  }
}
